rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == "admin@financialplanner.com";
    }

    match /users/{userId} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /surveys/{surveyId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
      allow update, delete: if false;
    }
  }
}
